html {
	direction: rtl;
}
@font-face { 
 	font-family: JF;
 	src: url('../fonts/JF-Flat-regular.ttf'); 
 } 
* {
	font-family: 'JF', sans-serif;
}
section {
	padding: 40px 0;
}
a {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
}
a:hover, a:focus {
	text-decoration: none;
}
.bgColored {
	background-color: #6bbf67;
	transition: all 0.3s ease;
}
.btn {
	margin-bottom: 5px;
}
.btn-trans {
	background-color: #6bbf67;
	transition: all 0.3s ease;
}
.btn-trans:hover, .btn-trans:focus {
	background-color: rgba(107, 191, 103, 0.79);
	color: #fff;
}
.btn-transparent, .btn-transparent:hover, .btn-transparent:focus  {
	background-color: transparent;
	border-color: #ccc;
	color: #868686;
}
.btn-trans i {
	margin-right: 10px;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
.form-control:focus {
	border-color: #6bbf67;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(107, 191, 103, 0.6);
}
textarea {
	max-width: 100%;
}
select[multiple] {
	width: 100%;
}
select[multiple]:focus {
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(107, 191, 103, 0.6);
}
input[type='checkbox'], input[type='checkbox']:focus {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid #6bbf67;
	border-radius: 2px;
	outline: none;
	margin-top: 3px;
	font: normal normal normal 23px/1 FontAwesome;
	cursor: pointer;
}
input[type='checkbox']:checked:before {
	content: "\f00c";
    font-size: 15px;
    left: 1px;
    position: relative;
    top: -1px;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
.borderd {
	border: 1px solid #6bbf67;
	border-radius: 8px;
}
.OverHidden {
	overflow: hidden;
}


/**********
Header
**********/
.header {
	background-color: #6bbf67;
	color: #fff;
}
.header .user {
	float: left;
}
.header .user img {
    width: 44px;
    height: 44px;
    margin-left: 12px;
}
.header .user .user-name {
	display: inline-block;
	margin-left: 12px;
}
.navbar {
	border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.nav {
    height: auto;
}
.header .logo {
    width: 150px;
}
.header .nav-tabs {
	border-bottom: none;
}
.header .nav-tabs>li>a {
	border-radius: 0;
}
.header .nav .open>a, .header .nav .open>a:focus, .header .nav .open>a:hover, .header .nav-tabs>li>a:hover {
	background-color: #fff;
	color: #6bbf67;
    border-color: transparent;
}
.header .user .nav .open>a, .header .user .nav .open>a:focus, .nav .open .header .user .nav>li>a:focus, .header .user .nav>li>a {
	min-height: 115px;
    padding: 35px 15px;
}
.navbar-default .navbar-nav>li {
    padding: 35px 35px;
}
.navbar-nav>li>a {
	padding: 0;
}
.header .dropdown-menu {
	width: 100%;
	border-radius: 0;
}
.header .dropdown-menu li a {
	padding: 15px;
}
.header #notifications-count {
	position: absolute;
    top: -6px;
    right: -1px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    background: #fff;
    color: #6bbf67;
    text-align: center;
    border-radius: 100%;
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
}
.header .notifications-wrapper {
	margin-top: 4px;
}
.header .notifications {
	position: relative;
    cursor: pointer;
    z-index: 2;
}
.header .notifications i {
	color: #fff;
}

.searchbox-header {
	display: none;
	text-align: center;
}
.header li.searchbox-wrapper .search-box  {
   position: relative;
    display: inline;
}
.header li.searchbox-wrapper .search-box input {
	background: #e8e8e8;
    box-shadow: none;
    border: 0;
    width: 130px;
    padding: 8px 10px 8px 30px;
    border-radius: 30px;
    color: #747F8B;
    font-size: 14px;
    font-weight: bold;
    outline: 0;
    transition: all 0.3s ease;
}
.header li.searchbox-wrapper .search-box input:focus {
	width: 230px
}
.header li.searchbox-wrapper .search-box .search-icon {
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 18px;
    color: #9FB6C3;
}

/********
Breadcrumb
*********/
.main-breadcrumb {
	background-color: #e8e8e8;
	padding: 20px 0;
}
.main-breadcrumb .breadcrumb-content ul {
	padding: 0;
}
.main-breadcrumb .breadcrumb-content ul li {
	list-style: none;
	display: inline-block;
}
.main-breadcrumb .breadcrumb-content ul li:after {
	content: "/";
    padding: 0 15px;
    color: #6bbf67;
}
.main-breadcrumb .breadcrumb-content ul li:last-child:after {
	content: '';
}
.main-breadcrumb .breadcrumb-content ul li a {
	color: #6bbf67;
	font-size: 17px;
}

/****************
List App Content
****************/
.app .actions {
	margin-bottom: 15px;
}
.app .actions h3 {
	margin: 0;
}
.checkbox.home {
	display: inline-block;
	margin: 0;
}
.checkbox.home label {
	padding-left: 27px;
}
.btn-transparent input[type="checkbox"] {
	margin-right: 5px;
}

.app .table thead tr th {
	border-bottom: none;
	background-color: #aef2ab;
	text-align: center;
}
.app .table thead tr th:first-child {
	border-top-right-radius: 10px;
}
.app .table thead tr th:last-child {
	border-top-left-radius: 10px;
}
.app .table>tbody>tr>td {
	border-top: none;
	text-align: center;
}
.app .table>tbody>tr>td:last-child {
	float: left;
}
.app .table-striped>tbody>tr:nth-of-type(odd) {
    color: #868686;
}
.app .table-striped>tbody>tr {
	color: #363535;
}
.app .panel {
	border-radius: 10px!important;
    border-color: transparent;
}
.app .checkboxTable {
	background-color: #fff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #6bbf67;
    border-color: #6bbf67;
}
.pagination>li>a, .pagination>li>span {
	color: #6bbf67;
}
.filters {
	display: inline-block;
	min-width: 220px;
	margin-right: 40px;
}

/*********
Footer
*********/
.footer {
	padding: 40px 0;
	background-color: #6bbf67;
	color: #fff;
}
.footer p {
	font-size: 16px;
}
.footer .copyrights {
	float: right;
}
.footer .coded {
	float: left;
}

/****************************************
Wizard 1
****************************************/
.wizard-breadcrumb .step {
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #6bbf67;
	border-radius: 5px;
	color: #6bbf67;
}
.wizard-breadcrumb .step.active {
	background-color: #6bbf67;
	color: #fff;
}
.wizard-breadcrumb li {
	display: inline-block;
}
.wizard-breadcrumb li:after {
   font-family: FontAwesome;
   content: "\f053";
   display: inline-block;
   padding: 0 15px;
   vertical-align: middle;
   color: #bbb;
}
.wizard-breadcrumb li:last-child:after {
	content: '';
	padding: 0;
}
.wizard-breadcrumb .stepName {
	display: inline-block;
	margin-bottom: 0;
}
.wizard-breadcrumb .stepNo {
	background-color: #6bbf67;
    border: 1px solid #6bbf67;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    position: relative;
    margin-left: 5px;
}
.wizard-breadcrumb .step.active .stepNo {
	background-color: #fff;
	color: #6bbf67;
	border-color: #fff;
}

.uploadWrapper {
	color: #555;
}
.uploadWrapper:hover {
	color: #6bbf67;
}
.wizard .upload {
	width: 250px;
    height: 250px;
    display: table;
    border: 1px solid;
    border-style: dashed;
    border-radius: 15px;
    margin-top: 10px;
}
.wizard .upload i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.uploadDesc textarea {
	height: 250px;
	width: 100%;
}

.wizard .btn-trans {
	margin-top: 10px;
	margin-bottom: 25px;
}
.wizard label {
	display: block;
}
.btn-trans.next, .btn-trans.previewBtn {
    float: left;
    padding: 15px 35px;
    font-size: 21px;
    margin-top: 45px;
}
.btn-trans.previewBtn {
	margin-left: 5px;
}
.specialization {
	padding: 8px;
	margin-bottom: 0;
}

/****************************************
Wizard 2
****************************************/

.wizardContent {
	padding: 25px;
	margin-bottom: 10px;
}
.wizardContent .wizardContent-title {
	margin-top: 0;
}

/****************************************
Wizard 3
****************************************/

.dropdownBtn {
	text-align: right;
}
.dropdownBtn .caret {
	float: left;
    margin-top: 8px;
}
.dropdownWizard {
	width: 100%;
}

/****************************************
Preview
****************************************/
.preview .teble-responsive {
	margin-bottom: 20px;
	border-radius: 10px;
    padding: 0 10px;
}
.preview .table>tbody>tr>td:first-child {
	width: 50%;
}
.preview .table>tbody>tr>td:nth-child(2) {
	width: 50%;
}
.preview .table a {
	color: #6bbf67;
}
.preview .previewTitle {
	font-weight: bolder;
	color: #6bbf67;
    margin-bottom: 20px;
}
.preview .printEdit {
	margin-bottom: 25px;
}
.alert-success {
    margin-top: 25px;
    width: 400px;
    margin: 25px auto;
}

/************************
Auth pages
************************/
.plain {
	width: 100%;
	height: 100vh;
	display: table;
	background-color: #6bbf67;
}
.plain-content {
	display: table-cell;
	vertical-align: middle;
}
.login-register {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}
.col-center {
	margin: 0 auto;
	float: none;
}
.plain .plainLogo img {
	display: inline-block;
	max-width: 200px;
}
.plain .plainTitle {
	color: #6BBF67;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.plain label {
	color: #6BBF67;
}
.login-register .forgotPassword a {
	color: #6bbf67;
	float: left;
}
.login-register .loginActions {
	margin: 15px 0;
}
.login-register .checkbox {
	margin: 0;
}
.plain .account {
	margin-top: 15px;
}
.plain .account a:hover, .plain .account a:focus {
	color: #f5f5f5;
}

@media (max-width: 767px) {
	section {
		padding: 40px 15px;
	}
	.header .user {
		float: none!important;
		text-align: center;
		display: block;
		padding: 15px;
	}
	.navbar-default .navbar-nav>li {
		padding: 15px;
		text-align: center;
	}
	.navbar-brand {
		padding: 5px 15px;
	}
	.header .logo {
		width: 100px;
	}
	.navbar-collapse.in {
		text-align: center;
	}
	.header .nav-tabs>li {
		float: none!important;
	}
	.header .user .nav .open>a, .header .user .nav .open>a:focus, .nav .open .header .user .nav>li>a:focus, .header .user .nav>li>a {
		min-height: auto;
		padding: 15px;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
		transition: all 0.3s ease;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
		background-color: #6bbf67;
	}
	.searchbox-header {
		display: inline-block;
	    margin-top: 6px;
	}
	.searchbox-header input {
		width: 230px!important;
	}
	.searchbox-navbar {
		display: none!important;
	}
	.header .dropdown-menu {
		z-index: 99999;
		position: inherit;
	}
	.header .dropdown-menu{
        display: block;
        position: static;
        text-align: center;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        width:100%;
    }
    .header .navbar-nav .dropdown-menu > li > a, 
    .header .navbar-nav .dropdown-menu .dropdown-header {
        padding:5px 15px 5px 25px;
    }
    .header .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
    }
    .header .dropdown-menu li a {
    	color: #fff;
    }
    .header .bgColored {
    	background-color: #fff;
    	color: #6bbf67;
    }
    .header .navbar-default .navbar-nav .dropdown-menu > li > a{    
        color:#fff;
    }
    .header .dropdown-menu>li>a:focus, .header .dropdown-menu>li>a:hover {
    	background-color: #fff;
    	color: #6bbf67;
    }
    .header .dropdown-menu>li>a:focus .bgColored, .header .dropdown-menu>li>a:hover .bgColored {
    	background-color: #6bbf67;
    	color: #fff;
    }
	.filters {
		display: block;
		margin-right: 0;
		margin-top: 15px;
		padding: 0!important;
	}
	.app .actions h3 {
		margin: 7px 0;
	}
	.footer {
		text-align: center;
	}
	.footer .copyrights, .footer .coded {
		float: none;
	}
	.wizard-breadcrumb li {
		margin-bottom: 5px;
	}
	.no-padding-left {
		padding-left: 15px;
	}
	.no-padding-right {
		padding-right: 15px;
	}
	.col-md-6 {
		padding-right: 0;
		padding-left: 0;
	}
	.wizardContent {
		padding: 10px;
	}
	.btn-trans.next, .btn-trans.previewBtn {
		padding: 10px 6px;
	}
	.actions-buttons {
		float: none!important;
	}
	.app .actions {
		padding: 0 15px;
	}
	.wizard-breadcrumb .step {
		padding: 5px;
	}
	.wizard-breadcrumb li:after {
		padding: 1px;
	}
	.wizard-breadcrumb .stepNo {
		width: 15px;
		height: 15px;
		line-height: 15px;
		font-size: 14px;
	}
}